<a routerLink="../../dashboard" class="dashboardLink" (click) ="backButtonActivity();"> Back to Dashboard </a>
<app-protocol-info class='bodySection'></app-protocol-info>
<app-protocol-site-patient class='bodySection'></app-protocol-site-patient>
<app-protocol-metrics class='bodySection'></app-protocol-metrics>
<app-kits-in-out class='bodySection'></app-kits-in-out>
<app-protocol-mcc-metrics class='bodySection'></app-protocol-mcc-metrics>
<app-site-details class='bodySection'></app-site-details>
