<!-- <app-overview-kits-in-kits-out class="bodySection"></app-overview-kits-in-kits-out>
<app-kits-in-out class='bodySection'></app-kits-in-out>
<app-protocol-kits-in-kits-out class="bodySection"></app-protocol-kits-in-kits-out>
<app-country-kits-inkits-out class="bodySection"></app-country-kits-inkits-out>
<app-kits-break-down class="bodySection"></app-kits-break-down>
 -->
 <!-- <a  class="dashboardLink" style="color: blue;cursor: pointer;padding: 12px" (click) ="backButtonActivity();"><span><u> Back to Landing Page</u></span> </a> -->
 <a  class="dashboardLink" style="color: blue;cursor: pointer;padding: 0px;margin-left: 22px;font-size: 13px;" (click) ="backButtonActivity();"><span><u>Home</u></span> </a>
 <img [src]="breadcrumb" style="width: 10px; padding-left: 6px"/>
 <span style="padding-left: 5px;font-size: 13px;">Kit Forecasting</span>

 <app-overview-kits-in-kits-out class="bodySection"></app-overview-kits-in-kits-out>
 <app-country-kits-inkits-out class="bodySection"></app-country-kits-inkits-out>
 <!-- <app-kits-break-down class="bodySection"></app-kits-break-down> -->
 <app-protocol-kits-in-kits-out class="bodySection"></app-protocol-kits-in-kits-out>
 <!-- <app-kits-in-out class='bodySection'></app-kits-in-out> -->
 <app-kits-in-out-line class="bodySection" ></app-kits-in-out-line>

